
/*Global styles*/

html {
  background: url(kitchen.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
}

h1 {
  margin-bottom: .5em;
  color: #AB4438;
  text-align: center;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;;
  font-size: 30px;
  font-weight: bold;
}

.title,.category,.subcategory,.stars,.recipe {
  margin-bottom: .5em;
  color: #AB4438;
  text-align: center;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;;
  font-size: 30px;
  font-weight: bold;
}

#recipe-title,#recipe-subcategory,#stars,#star-rating,#recipe-details {

}


h3 {
  color: #AB4438;
  font-size: 18px;
  text-align: center;
  background-color: white;
  margin-left: 6em;
  margin-right: 6em;
  margin-top: 2%;
  
}

h4 {
  color: #AB4438;
  font-size: 25px;
  font-weight: bold;
  text-align: center;

}

/*Header Stypes*/
.header {
  background-color: #11362C;
  height: 5.3em;
  width: 100%;
  margin: 0;
}

/*Navigation Section*/

.topnav a {
   color: #FFFFFA;
   text-decoration: none;
}

.topnav {
  text-align: center;
}
.topnav li {
  font-family: 'Roboto', georgia, serif;
  font-size: 1.04rem;
  margin-top: 1em;
  display: inline-block;
  margin-bottom: .5em;
}

.topnav a:hover {
  cursor: pointer;
  color: #230C26;
}


/*#submit, #query  {
  margin-right: 10px;
}*/

/*#submit, #next, #previous {
  margin-bottom: 1.5em;
  background-color:#5B74A8;
  border:1px solid #29447E;
  font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
  font-size:12px;
  font-weight:700;
  padding:2px 6px;
  color:#fff;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px
  padding: 50px;
}*/

/*#submit:hover, #next:hover, #previous:hover {
  background: #24b662;
  cursor: pointer; cursor: hand;
}*/

/*Recipe search*/

#search {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}


.search-results {
  box-sizing: border-box;
  width: 100%;
  border: 1em solid #11362C;
  padding: 1em;
}

.recipe-search {
  height: 100%;
}

.links a {
  display: none;
}

.image {
  margin-top: 1em;
}
.recipe-details {
  text-align: center;
}